.dropdown-menu {
  padding: 0;
  z-index: 1060;
}

.dropdown-menu .title {
  padding: 12px 12px;
  text-align: center;
  border-bottom:1px solid $border-color ;
}

.dropdown-menu li {
  padding: 6px 12px;
  text-align: left;
  background: lighten($color-background, 3%);
  border-bottom:1px solid $border-color;
}

.dropdown-menu.filedropdown li {
  padding: 6px 6px;
  text-align: left;
  background: lighten($color-background, 3%);
  border-bottom:1px solid $border-color;
}

.dropdown-menu.filedropdown li i {
  margin-right: 10px;

}

.dropdown-menu.notification li {
  padding: 12px 12px;
}

.dropdown-menu.notification li .badge{
  margin-right: 10px;
}

.dropdown-menu li > a:hover, .dropdown-menu.filedropdown li > a:hover {
  background: inherit;
}

.dropdown-menu li:hover, .dropdown-menu.filedropdown li:hover {
  background: $color-background;
}

.dropdown-menu li.summary {
  padding: 6px 12px;
  text-align: center;
  background: #fff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
  color: inherit;
  background: lighten($color-background, 2%);
  border-bottom:1px solid $border-color;
}
.navbar-nav > li.active > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus{
    background-color: transparent; border-bottom:3px solid transparent;color:#fff!important;
}

.dropdown-menu li.nav-item, .dropdown-menu .dropdown-item {
    padding: 6px 12px;
    text-align: left;
    background: lighten($color-background, 3%);
    border-bottom:1px solid $border-color;
    color:#6a6c6f;
}
.dropdown-menu li:hover, .dropdown-menu .dropdown-item:hover {
    background: $color-background;
}
.dropdown-menu li a{color:#9d9fa2!important;}
