.projects .project-label {
  font-weight: 600;
}

.projects .hpanel .panel-body  {
  border-bottom: none;
}

.projects .hpanel:last-child .panel-body  {
  border-bottom: 1px solid $border-color;
}

.projects .hpanel:last-child .panel-body{
  border-bottom: 1px solid $border-color;
}

.projects .hpanel h4 a {
  color: $color-text;
}

.projects .project-people img {
  width: 28px;
  height: 28px;
  margin-left: 2px;
  margin-bottom: 4px;
}

.projects .project-info {
  text-align: right;
}
.modal-info-bar{
    display: flex;
    padding: 5px 20px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    margin-top: -20px;
    margin-left: -30px;
    margin-right: -30px;
    .modal-info-bar-label{
        color: #aaa;
        text-transform: uppercase;
        font-size: 10px;
        padding-right: 10px;
    }

}
@media(max-width:768px) {
  .projects .project-info {
    text-align: left;
  }
}
