/**
 * Created by PhpStorm.
 * User: Abdul
 * Date: 19/05/2019
 * Time: 22:09
 */

.dropdown-menu-right{
  li{
    a{
      white-space:nowrap;padding:3px 20px;
    }
  }
}
.profile-picture {
  img.rounded-circle{max-height: 48px;}
}

#side-menu .has-sub.active > .sub-menu {
  display: block!important;
}
#side-menu .sub-menu {
  display: none;
}
.navbar-right, .pull-right{float: right;}
.forum-box {
    .panel-body {
        border-bottom: none;
        .media-author{
            text-align: center;
            margin-right: 10px;
            min-width: 100px;max-width: 100px;
            .author-name{white-space: nowrap;text-overflow: ellipsis;font-weight: bold;overflow: hidden;}
        }
        .media-info{
            text-align: right;
            margin-left: 10px;
            min-width: 100px;
        }
    }
}
