//Landing page stylesheet
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

@import 'landing/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";
@import "landing/mixins";
@import "landing/card";
@import "landing/auth";

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: $color-text;
    overflow-x: hidden;
}
.form-control::placeholder {
    font-style: italic;
    color: #d7dde4;
}
